<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments::head(title='Dagverkopen')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Aantal verkochte snacks</h1>
<table>
    <thead>
    <tr>
        <th th:text="id"></th>
        <th th:text="naam"></th>
        <th th:text="aantal"></th>
    </tr>
    </thead>
    <tbody>
<tr th:each="idMetAantalVerkocht : ${aantalVerkochteSnacks}" th:object="${idMetAantalVerkocht}">
    <td th:text="*{id}"></td>
    <td th:text="*{naam}"></td>
    <td th:text="*{totaalAantal()}"></td>
</tr>
    </tbody>
</table>
</body>
</html>