<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="fragments::head(title='Snack alfabet')"></head>
<body>
<nav th:replace="fragments::menu"></nav>
<h1>Alfabet</h1>
<ul class="naastMekaar">
    <li th:each="letter : ${alfabet}"><a th:href="@{/snacks/alfabet/{letter}(letter=${letter})}"
                                         th:text="${letter}"></a></li>
</ul>
<th:block th:if="${letter}">
    <h2>Snacks die beginnen met
        <th:block th:text="${letter}"></th:block>
    </h2>
    <ul>
        <li th:each="snack : ${snacksMetEersteLetter}" th:text="${snack.naam}"></li>
    </ul>
</th:block>

<h1>Alle snacks</h1>
<ul>
    <li th:each="snack : ${alleSnacks}"><a th:href="@{/snacks/{id}/wijzigen/form(id=${snack.id})}" th:text="${snack.naam}"></a></li>
</ul>
</body>
</html>